/*Global*/
@media screen and ( min-width: 480px ) {
    
  body {
    transition: background 1s;
 }
  
  .mob {
    display: none;
  }
  
}

/*Tablet*/
@media screen and ( max-width: 768px ) {
    
  body {
    transition: background 1s;
 }
  
  .tab{
    display: none;
  }
}

/*context*/

/*img*/
img {
    width: 25%;
    text-align: center;
    
}
.denise {
  border: 10px solid white;
  border-radius: 400px;
  height: 400px;
  width: 400px;
}

.peace{
    width: 50px;}

.like {
width:60px;
}

.gmail{
width: 60px}

.eagles {
width: 141.38px;
}

/*Layout*/

/*grid-container*/

.grid-container {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}

.title {
font-size: 5.125em;
    text-align: center;
    postion:absolute;
    
}

h1{
    color:azure;
    text-transform: uppercase;
    font-size: 7em;
    display: block;
    font-weight: bold;
}

blockquote{
color:#66F9F4;
    font-size: 1.5em;
}

p{
color:#66F9F4;
    font-size: 1.25em;
}

h2, h3, h4{
background: #fff;
    opacity: .6;
    padding: 1px 0px 1px 0px;
    border-radius: 25px;
    text-align: center;
}

h4{
    font-size: 20px;
}

body{
    background-image: url(http://www.themesltd.com/covers/galaxy_nebula_cat.png);
line-height: 1.5em;
}
li{
    color:aqua;
text-align:center;
}
/*fluid container*/

main {
  margin: 0 auto;
  width: 100%;
  }

article,
aside {
  float: left;
}

article {
  background: transparent;
  padding: 1%;
  margin: 1%; 
  width: 53%; 
    height: 12%;
}

aside {
  background: transparent;
  padding: 1%;
  margin: 1%;
  width: 32%;
    height: 15%;
}

p{
text-align: center;
    font-family:
}

h5 {
    color: transparent;}
/*Typography*/


/*Navigation*/
ul {
  margin-top: 0;
    text-align: center;
}
li {
    list-style: none;
  float: left;
    text-align: center;
}

/* Base Styling and Visited*/
a:link,
a:visited {
  color: #66F9F4;
  display: block;
  height: 32px;
  text-align: center;
  line-height: 32px;
  margin-bottom: 10px;
  text-decoration: none;
  padding-top: 0;
  width: 100px; 
    float:right;  
  transition: padding-top 1s;
  }

/* hover state */
a:focus,
a:hover,
a:active {
  background: plum;
  color: purple;
  border-left: 8px solid #fff;
   padding-top: 32px;
}
}

li {
    display: inline-block;
}